 body {
  font-family: Roboto, sans-serif;
  margin:  100px auto;
  background: #aaa;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  display: flex;
  gap: 16px;
  padding: 16px;
}